
.font-style {
    font-size : 20px;
    color: darkblue;
}

.select-style {
    height:40px;
    font-size: 20px;
    color:coral;
}

.tb-head>tr>td{
    border : 1px solid #000;
    font-size: 14px;
    font-weight : bold;
    color : red;
}

.tb-body>tr>td{
    border : 1px solid #000;
}